# SyMAP configuration parameters file
#
# Note, rows preceded by # are ignored.

# MySQL database name (e.g symap), server (e.g. localhost), admin and public access (client) info
# See http://www.agcol.arizona.edu/software/symap/doc/SystemGuide.html#params for details.
# Leave user and password empty if you don't have MySQL on your system and want to use the built-in mySQL
db_name             = 
db_server           = 
db_adminuser        = 
db_adminpasswd      = 
db_clientuser       = 
db_clientpasswd     = 

######################
# For the number of CPUs (threads, processors) to be used for computation, 
# any of the following will work:
# 1. From the interface, change the number in the nCPUs text box 
# 2. Use the command line option "-p N" where N is the number of CPUs to use.
# 3. Use the 'nCPUs' parameter below by uncommenting the line and entering number.
#nCPUs = 

