# SyMAP configuration file
#
# Note, rows preceded by # are ignored.
#   db_name:   the MySQL database name (symapDemo is the suggested name for creating the demo)
#   db_server: typically localhost
#   db_adminuser  and db_adminpasswd:  r/w access, build the database
#   db_clientuser and db_clientpasswd: optional r-only access, view the database
# See https://csoderlund.github.io/SyMAP/SystemGuide.html#mysql for details.

db_name             = symapDemo		
db_server           = localhost		
db_adminuser        = 
db_adminpasswd      = 	
db_clientuser       = 	
db_clientpasswd     = 

######################
# Uncommented the line and set the number of CPUs (threads, processors) to be used for computation. 
# This setting will be used every time symap is started.
#nCPUs = 

# If the suppled mummer3 does not work for you, follow instructions in ext/mummer4/README
# Then uncomment the line and provide the full path to mummer4/m4, 
# e.g. /Users/cari/Workspace/symap_5/ext/mummer4/m4
#mummer_path = 