# SyMAP configuration parameters file
#
# Note, rows preceded by # are ignored.

# MySQL database name (e.g symap), server (e.g. localhost), admin and public access info
# Leave user and password empty if you don't have MySQL on your system and want to use the built-in mySQL
db_name             = 
db_server           = 
db_adminuser        = 
db_adminpasswd      = 
db_clientuser       = 
db_clientpasswd     = 

